html, body {
    margin:0px;
    padding:0px;
    height: 100%;
    font-family: Arial;
    font-size: 12px;
}

#fond {
	border: 1px solid #56004e;
	background-color: #56004e;
	width: 880px;
	height: 660;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -331px;
	margin-left: -440px;
	border-radius: 11px;  /* свойство для тех кто его поддерживает */
  	-moz-border-radius: 11px;  /* для firefox */
  	-webkit-border-radius: 11px;  /* для Safari и Chrome */
  	overflow: hidden;
}

#cover {
	height: 640px;
	width: 860px;
	background: url("images/background_cover.jpg") no-repeat;
	margin: 10px;
	border-right: 1px solid #7e3e70;
	border-bottom: 1px solid #74336e;
}

#logo_bg, #logo {
	position: absolute;
}

#logo_bg {
	height: 120px;
	background-color: #ffffff;
	width: 860px;
	opacity: 0.5;
}

#logo {
	margin-top: 13px;
	margin-left: 30px;
	display: block;
}

#right_text, #left_text {
	position: absolute;
	top: 280px;
}

#right_text {
	right: 30px;
	text-align: right;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: bold;
	color: #d6e03e;
	font-family: Arial, sans-serif;
}

.white_text {
	color: #ffffff;
	text-transform: none;
}

#left_text {
	width: 335px;
	left: 45px;
	opacity: 1;
}

.violet_text {
	color: #56004e;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
}

#modes {
	position: absolute;
	bottom: 25px;
	left: 30px;
}

.transitive-0 {
	position: absolute;
	left: 100% !important;
}

.logo_block {
	left: 10px;
	height: 120px;
	position: absolute;
	top: 140px;
	width: 860px;
}

.transitive_left {
	-webkit-transition: left 0.5s linear;
	-moz-transition: left 0.5s linear;
	-o-transition: left 0.5s linear;
	transition: left 0.5s linear;
}

.transitive-1 {
	position: absolute;
	right: 100% !important;
}

.transitive_right {
	-webkit-transition: right 0.5s linear;
	-moz-transition: right 0.5s linear;
	-o-transition: right 0.5s linear;
	transition: right 0.5s linear;
}

.transitive-2 {
	opacity: 0 !important;
}

.transitive_opacity {
	-webkit-transition: opacity 0.5s linear;
	-moz-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
}