html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: Trebuchet MS, Arial;
    font-size: 13px;
}
#fond {
    border: 1px solid #56004e;
    background-color: #56004e;
    width: 880px;
    height: 660px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -331px;
    margin-left: -440px;
    overflow: hidden;
    border-radius: 11px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    -khtml-border-radius: 11px;
    -o-border-radius: 11px;
    -ms-border-radius: 11px;
}
.left_column {
    position: absolute;
    width: 588px;
    height: 641px;
}
#slide_0 {
    height: 640px;
    width: 860px;
    background: url("images/background_cover.jpg") no-repeat;
    margin: 10px;
    border-right: 1px solid #7e3e70;
    border-bottom: 1px solid #74336e;
}
#logo_bg, #logo {
    position: absolute;
}
#logo_bg {
    height: 120px;
    background-color: #ffffff;
    width: 860px;
    opacity: 0.5;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
#logo {
    margin-top: 13px;
    margin-left: 30px;
    display: block;
}
#right_text, #left_text {
    position: absolute;
    top: 280px;
}
#right_text {
    right: 30px;
    text-align: right;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    color: #d6e03e;
    font-family: Arial, sans-serif;
}
.white_text {
    color: #ffffff;
    text-transform: none;
}
#left_text, .third_message, #slide_2 .transitive-3, .fourth_message, .fifth_message, .head_message, .full_length, .medium_length, .short_length, .pointers, #slide_4 .continue, #slide_6 .continue {
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    display: block\0;
}
#left_text {
    width: 335px;
    left: 45px;
}
.violet_text {
    color: #56004e;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
}
#modes {
    position: absolute;
    bottom: 25px;
    left: 30px;
}
#slide_0 .transitive-0 {
    position: absolute;
    left: 100% !important;
}
.logo_block {
    left: 10px;
    height: 120px;
    position: absolute;
    top: 140px;
    width: 860px;
}
.transitive {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
#slide_0 .transitive-1 {
    position: absolute;
    right: 100% !important;
}
#slide_0 .transitive-2, .first_part, #slide_2 .transitive-2, #slide_2 .transitive-4, #slide_2 .transitive-5, #slide_3 .transitive-0, #slide_3 .transitive-4, #slide_4 .transitive-3, #slide_6 .transitive-2 {
    opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
#slide_0 .continue {
    display: none;
}
.slide:not(:first-child) {
    display: none;
}
.basis {
    background: url("images/background.jpg") no-repeat;
    position: relative;
    height: 640px;
    margin: 10px;
    border: 1px solid transparent;
}
#slide_1 {
    background-color: #f7f8d9;
    width: 840px;
    height: 505px;
    margin: 50px 10px 0 10px;
    border: 1px solid #f7f8d9;
    overflow: auto;
}
#content {
    margin: 30px 10px 0px 30px;
    line-height: 18px;
}
#first_head, #second_head {
    font-size: 22px;
    font-weight: bold;
    line-height: normal;
}
#first_head {
    color: #56004e;
}
#second_head {
    color: #4c721d;
}
.small_logo {
    display: block;
    float: right;
    margin-top: -15px;
    margin-bottom: 20px;
}
.continue, .back {
    display: block;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.continue {
    clear: both;
    text-align: center;
    color: #4c721d;
    font-size: 16px;
    margin-bottom: 30px;
}
a.continue:hover {
    color: #56004e;
}
a.continue:hover .round {
    background-color: #56004e;
}
.round, #question {
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -khtml-border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
}
.round {
    color: white;
}
.continue .round {
    background-color: #4c721d;
    padding: 0px 5px 0px 6px;
    font-size: 16px;
}
.back {
    position: absolute;
    top: 12px;
    left: 10px;
    font-size: 13px;
    color: #56004e;
    z-index: 10;
}
a.back:hover {
    color: #4c721d;
}
a.back:active {
    color: #4a5a38;
}
.back .round {
    background-color: #56004e;
    padding: 0px 4px 0px 3px;
    font-size: 13px;
}
.back:hover .round {
    background-color: #4c721d;
}
.back:active .round {
    background-color: #4a5a38;
}
.tip {
    color: #56004e;
    font-weight: bold;
    font-size: 11px;
    margin: 15px 0 0 10px;
}
.full_info {
    display: block;
    height: 15px;
    text-decoration: none;
    width: 165px;
    color: #ffffff;
    padding: 5px 0;
    font-size: 12px;
    text-indent: 9px;
    margin: 10px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    background: rgb(146, 56, 138);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(146, 56, 138, 1) 0%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(32, 124, 202, 1) 100%, rgba(41, 137, 216, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 101%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(146, 56, 138, 1)), color-stop(100%, rgba(58, 0, 52, 1)), color-stop(100%, rgba(58, 0, 52, 1)), color-stop(100%, rgba(32, 124, 202, 1)), color-stop(100%, rgba(41, 137, 216, 1)), color-stop(100%, rgba(58, 0, 52, 1)), color-stop(100%, rgba(58, 0, 52, 1)), color-stop(101%, rgba(58, 0, 52, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(146, 56, 138, 1) 0%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(32, 124, 202, 1) 100%, rgba(41, 137, 216, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 101%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(146, 56, 138, 1) 0%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(32, 124, 202, 1) 100%, rgba(41, 137, 216, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 101%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(146, 56, 138, 1) 0%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(32, 124, 202, 1) 100%, rgba(41, 137, 216, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 101%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(146, 56, 138, 1) 0%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(32, 124, 202, 1) 100%, rgba(41, 137, 216, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 101%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#92388a', endColorstr='#3a0034', GradientType=0);
    /* IE6-9 */
}
.full_info:hover {
    border: 1px solid #3f223b;
    width: 163px;
    height: 14px;
    text-indent: 8px;
    padding-top: 4px;
}
.full_info:active, #slide_5 .full_info:active {
    background: rgb(58, 0, 52);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(58, 0, 52, 1) 0%, rgba(147, 57, 138, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(147, 57, 138, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(41, 137, 216, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(58, 0, 52, 1)), color-stop(100%, rgba(147, 57, 138, 1)), color-stop(100%, rgba(58, 0, 52, 1)), color-stop(100%, rgba(58, 0, 52, 1)), color-stop(100%, rgba(147, 57, 138, 1)), color-stop(100%, rgba(58, 0, 52, 1)), color-stop(100%, rgba(58, 0, 52, 1)), color-stop(100%, rgba(41, 137, 216, 1)), color-stop(100%, rgba(58, 0, 52, 1)), color-stop(100%, rgba(58, 0, 52, 1)), color-stop(100%, rgba(58, 0, 52, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(58, 0, 52, 1) 0%, rgba(147, 57, 138, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(147, 57, 138, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(41, 137, 216, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(58, 0, 52, 1) 0%, rgba(147, 57, 138, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(147, 57, 138, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(41, 137, 216, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(58, 0, 52, 1) 0%, rgba(147, 57, 138, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(147, 57, 138, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(41, 137, 216, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(58, 0, 52, 1) 0%, rgba(147, 57, 138, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(147, 57, 138, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(41, 137, 216, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3a0034', endColorstr='#3a0034', GradientType=0);
    /* IE6-9 */
    box-shadow: 0px 1px 3px 0px #3f223b inset;
    height: 14px;
}
.additional_info {
    position: absolute;
    bottom: 13px;
    right: 20px;
    list-style: none;
}
ul.additional_info li {
    display: inline-block;
    margin-left: 20px;
    font-size: 11px;
    font-weight: bold;
    color: #56004e;
}
ul.additional_info li a {
    color: #56004e;
    text-decoration: none;
}
ul.additional_info a:hover {
    color: #4c721d;
}
ul.additional_info a:active {
    color: #d6e03e;
}
.right_column {
    position: absolute;
    width: 270px;
    right: 0px;
    background-color: #f7f8d9;
    height: 640px;
    box-shadow: -20px 0 22px -7px #d1d1d1;
}
.info {
    height: 600px;
    overflow: auto;
}
.info p {
    margin: 0 5px 20px 16px;
    line-height: 18px;
}
.footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.info .small_logo {
    margin-top: 15px;
}
.for_ipad {
    color: #56004e;
    text-align: right;
    margin-right: 5px;
}
.arrow {
    font-size: 24px;
    font-family: impact;
    font-weight: bold;
    display: inline-block;
    margin-left: 2px;
}
.first_part {
    position: absolute;
    width: 100%;
}

.first_message, .second_message, .third_message, .fourth_message, .fifth_message {
    position: absolute;
    color: #56004e;
}
.first_message, .second_message {
    white-space: nowrap;
    position: relative;
}
.first_message {
    top: 150px;
    font-size: 31px;
    width: 495px;
    right: -30px;
}
.second_message {
    top: 155px;
    font-size: 47px;
    font-weight: bold;
    left: 30px;
}
.third_message {
    top: 185px;
    color: #000000;
    width: 470px;
    left: 35px;
    position: relative;
}
#slide_2 .transitive-0 {
    right: 100%;
}
#slide_2 .transitive-1 {
    left: 100%;
}
.fourth_message {
    color: #56004e;
    font-size: 14px;
    width: 510px;
    top: 170px;
    left: 30px;
}
h3 {
    font-size: 26px;
    font-family: Arial;
    margin: 0 0 3px 0;
}
.fifth_message {
    color: #000000;
    left: 30px;
    top: 270px;
    width: 475px;
}
.footnote {
    display: block;
    margin-top: 18px;
}
.fifth_message .continue {
    text-align: left;
    margin-top: 40px;
}
.first_part.transitive {
    -webkit-transition-delay: 2s;
    -moz-transition-delay: 2s;
    -o-transition-delay: 2s;
    transition-delay: 2s;
}
.doctor.transitive{
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
.head_message, .full_length, .medium_length, .short_length {
    position: absolute;
    color: #56004e;
    text-align: center;
}
.head_message {
    font-size: 23px;
    top: 125px;
    width: 500px;
    font-weight: bold;
    left: 60px;
}
.process_length {
    position: absolute;
    top: 220px;
    left: 80px;
    width: 460px;
}
.full_length, .medium_length, .short_length, .first_phrase, .second_phrase {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
}
.full_length, .medium_length, .short_length {
    display: block;
    width: 135px;
    height: 49px;
    padding-top: 145px;
    font-size: 16px;
    text-decoration: none;
}
.full_length {
    background: url("images/full_length.jpg") no-repeat;
    left: 0px;
}
.medium_length {
    background: url("images/medium_length.jpg") no-repeat;
    left: 163px;
}
.short_length {
    background: url("images/short_length.jpg") no-repeat;
    right: 0px;
}
h4 {
    font-size: 22px;
    margin: 0;
}
.full_length:hover, .medium_length:hover, .short_length:hover {
    color: #ffffff;
}
.full_length:hover {
    background: url("images/full_length_hover.jpg") no-repeat;
}
.medium_length:hover {
    background: url("images/medium_length_hover.jpg") no-repeat;
}
.short_length:hover {
    background: url("images/short_length_hover.jpg") no-repeat;
}
.full_length:active, .medium_length:active, .short_length:active {
    color: #d5e13c;
}
.pointers {
    position: absolute;
    left: 75px;
    top: 445px;
    width: 470px;
}
.line {
    background-color: #56004e;
    color: #ffffff;
    position: absolute;
    width: 430px;
    padding: 3px;
    font-size: 17px;
    left: 17px;
    top: 5px;
}
.left_side {
    display: inline-block;
    float: right;
}
.left_pointer, .right_pointer {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
}
.left_pointer {
    border-width: 18.5px 17px 18.5px 0;
    border-color: transparent #56004e transparent transparent;
}
.right_pointer {
    border-width: 18.5px 0 18.5px 17px;
    border-color: transparent transparent transparent #56004e;
    right: 0px;
}
#slide_3 .transitive-1, #slide_3 .transitive-2, #slide_3 .transitive-3, #slide_4 .transitive-1, #slide_4 .transitive-2, #slide_6 .transitive-1 {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
}
.doctor, .first_phrase, .second_phrase, .left_qoutes, .right_qoutes, .first_block, .second_block {
    position: absolute;
}
.doctor {
    background: url("images/doctor1.png") no-repeat;
    width: 396px;
    height: 569px;
    top: 72px;
    left: 192px;
}
.first_block, .second_block {
    left: 40px;
    color: #56004e;
}
.first_block {
    top: 70px;
    width: 295px;
}
.second_block {
    top: 240px;
    width: 225px;
}
.first_phrase .text {
    font-size: 24px;
    position: relative;
    z-index: 2;
}
.left_qoutes {
    top: -42px;
    left: -34px;
    font-size: 150px;
    color: #e3ea97;
    z-index: 1;
}
.second_phrase .text {
    font-size: 32px;
    position: relative;
    z-index: 2;
}
.right_qoutes {
    color: #e3ea97;
    font-size: 150px;
    top: 78px;
    left: 173px;
    z-index: 1;
}
#slide_4 .continue, #slide_6 .continue {
    position: absolute;
    text-align: left;
    bottom: 130px;
    left: 40px;
}
#slide_4 .transitive-0, #slide_6 .transitive-0 {
    top: 100%;
}
.progress {
    position: absolute;
    top: 20px;
    right: 15px;
    color: #56004e;
    text-align: center;
}
.progress_name {
    font-size: 10px;
    margin-left: 15px;
}
.progress_lines {
    background-color: #d6e23f;
    height: 8px;
    width: 80px;
    display: inline-block;
}
.progress_bar {
    background-color: #56004e;
    height: 8px;
    width: 2px;
}
a.continue:active {
    color: #2b0027;
}
a.continue:active .round {
    background-color: #2b0027;
}
#slide_6 .doctor {
    background: url("images/doctor2.png") no-repeat;
    left: 217px;
}
#slide_6 .progress_bar {
    width: 6px;
}
#slide_6 .first_phrase .text {
    font-size: 36px;
    width: 274px;
}
#slide_6 .first_block {
    top: 138px;
}
#slide_6 .left_qoutes {
    top: -40px;
}
#slide_6 .right_qoutes {
    top: 55px;
    left: 242px;
}
#slide_6 .continue {
    bottom: 310px;
}
#slide_5 {
    width: 859px;
    height: 640px;
    background: url("images/slide5_bg.jpg");
    position: absolute;
    top: 11px;
    left: 10px;
    z-index: 15;
    border-right: 1px solid #7e3e70;
    border-bottom: 1px solid #74336e;
}
#slide_5 .progress {
    right: 15px;
    color: #ffffff;
}
#slide_5 .progress_lines {
    background-color: #7d6f3d;
}
#slide_5 .progress_bar {
    background-color: #d5e13e;
    width: 4px;
}
#question {
    color: #56004e;
    width: 197px;
    height: 57px;
    background-color: #d6e03e;
    font-size: 15px;
    padding: 21px 6px 0 22px;
    position: absolute;
    top: 50px;
    left: 3px;
}
#in_circle {
    position: absolute;
    width: 535px;
    height: 235px;
    text-align: center;
    top: 130px;
    left: 40px;
}
.name_slider {
    color: #ffffff;
    font-size: 15px;
    width: 395px;
    margin: 10px 55px;
}
#slide_5 .continue {
    position: absolute;
    right: 20px;
    bottom: 25px;
    color: #ffffff;
}
#slide_5 .continue .round {
    color: #56004e;
    font-weight: bold;
}
#slide_5 a.continue:hover {
    color: #d6e03e;
}
#slide_5 a.continue:hover .round {
    background-color: #d6e03e;
}
#slide_5 ul.additional_info li a, #slide_5 .tip {
    color: #ffffff;
}
#slide_5 ul.additional_info li a:hover {
    color: #4c721d;
}
#slide_5 ul.additional_info li a:active {
    color: #d6e03e;
}
#slide_5 .full_info:link {
    color: #56004e;
    background: none;
    background-color: #ffffff;
    font-weight: bold;
    text-indent: 4px;
}
#slide_5 .full_info:hover {
    text-indent: 3px;
    background: rgb(146, 56, 138);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(146, 56, 138, 1) 0%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(32, 124, 202, 1) 100%, rgba(41, 137, 216, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 101%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(146, 56, 138, 1)), color-stop(100%, rgba(58, 0, 52, 1)), color-stop(100%, rgba(58, 0, 52, 1)), color-stop(100%, rgba(32, 124, 202, 1)), color-stop(100%, rgba(41, 137, 216, 1)), color-stop(100%, rgba(58, 0, 52, 1)), color-stop(100%, rgba(58, 0, 52, 1)), color-stop(101%, rgba(58, 0, 52, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(146, 56, 138, 1) 0%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(32, 124, 202, 1) 100%, rgba(41, 137, 216, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 101%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(146, 56, 138, 1) 0%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(32, 124, 202, 1) 100%, rgba(41, 137, 216, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 101%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(146, 56, 138, 1) 0%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(32, 124, 202, 1) 100%, rgba(41, 137, 216, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 101%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(146, 56, 138, 1) 0%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(32, 124, 202, 1) 100%, rgba(41, 137, 216, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 100%, rgba(58, 0, 52, 1) 101%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#92388a', endColorstr='#3a0034', GradientType=0);
    /* IE6-9 */
    color: #ffffff !important;
}
#slide_5 .full_info:active {
    color: #ffffff !important;
}
#slide_5 .full_info:visited {
    color: #56004e;
}
#slide_5 .back {
    top: 15px;
    left: 15px;
    color: #ffffff;
}
#slide_5 .back .round {
    background-color: #d6e03e;
    color: #56004e;
    font-weight: bold;
}
#slide_5 .back:hover {
    color: #4c721d;
}
#slide_5 .back:hover .round {
    background-color: #4c721d;
}
#slide_5 .back:active {
    color: #d6e03e;
}
#slide_5 .right_column {
    box-shadow: none;
}
.my_slider {
    width: 520px;
    height: 5px !important;
    background-color: #7c7f48;
    position: absolute !important;
    top: 160px;
    left: -7px;
}
#patients_amount, .patients {
    display: inline-block;
    color: #d6e03e;
    position: absolute;
}
#patients_amount {
    font-size: 120px;
    font-weight: bold;
    top: 28px;
    right: 305px;
}
.patients {
    font-size: 35px;
    right: 140px;
    top: 75px;
}
.ui-slider-horizontal .ui-slider-handle {
    position: relative;
    background-color: #d5df3d;
    top: -9px !important;
    width: 18px !important;
    height: 10px !important;
    outline: none !important;
}
.ui-slider-horizontal .ui-slider-handle, ul#patients_number_counter li {
    -webkit-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.3));
    -moz-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.3));
    -ms-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.3));
    -o-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.3));
}
.ui-slider-horizontal .ui-slider-handle:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    left: 0px;
    border-width: 15px 9px;
    border-style: solid;
    border-color: #d5df3d transparent transparent;
    top: 10px;
}
ul#patients_number_counter {
    counter-reset: patients-number-counter -1;
    width: 105%;
    padding: 0;
    margin-top: 20px;
}
ul#patients_number_counter li {
    display: inline-block;
    width: 30px;
    height: 20px;
    margin: 0;
    font-size: 17px;
    counter-increment: patients-number-counter;
}
ul#patients_number_counter li:after {
    content: counter(patients-number-counter);
    color: #d6e03e;
}
#name_under_slider {
    position: absolute;
    color: #d6e03e;
    font-size: 15px;
    left: 190px;
    bottom: 10px;
}
.doctor_container {
    position: absolute;
    width: 396px;
    height: 569px;
    top: 72px;
}
