html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: Trebuchet MS, Arial;
    font-size: 13px;
}
#fond {
    border: 1px solid #56004e;
    background-color: #56004e;
    width: 880px;
    height: 660;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -331px;
    margin-left: -440px;
    border-radius: 11px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    overflow: hidden;
}
#cover {
    height: 640px;
    width: 860px;
    background: url("images/background_cover.jpg") no-repeat;
    margin: 10px;
    border-right: 1px solid #7e3e70;
    border-bottom: 1px solid #74336e;
    display: none;
}
#logo_bg, #logo {
    position: absolute;
}
#logo_bg {
    height: 120px;
    background-color: #ffffff;
    width: 860px;
    opacity: 0.5;
}
#logo {
    margin-top: 13px;
    margin-left: 30px;
    display: block;
}
#right_text, #left_text {
    position: absolute;
    top: 280px;
}
#right_text {
    right: 30px;
    text-align: right;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    color: #d6e03e;
    font-family: Arial, sans-serif;
}
.white_text {
    color: #ffffff;
    text-transform: none;
}
#left_text {
    width: 335px;
    left: 45px;
    opacity: 1;
}
.violet_text {
    color: #56004e;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
}
#modes {
    position: absolute;
    bottom: 25px;
    left: 30px;
}
#cover .transitive-0 {
    position: absolute;
    left: 100% !important;
}
.logo_block {
    left: 10px;
    height: 120px;
    position: absolute;
    top: 140px;
    width: 860px;
}
.transitive {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
#cover .transitive-1 {
    position: absolute;
    right: 100% !important;
}
#cover .transitive-2 {
    opacity: 0 !important;
}
#basis {
    background: url("images/background.jpg") no-repeat;
    height: 640px;
    margin: 10px;
    border: 1px solid #ffffff;
}
#slide_1 {
    background-color: #f7f8d9;
    width: 840px;
    height: 505px;
    margin: 50px 10px 0 10px;
    border: 1px solid #f7f8d9;
    overflow: auto;
    display: none;
}
#content {
    margin: 30px 10px 0px 30px;
    line-height: 18px;
}
#first_head, #second_head {
    font-size: 22px;
    font-weight: bold;
    line-height: normal;
}
#first_head {
    color: #56004e;
}
#second_head {
    color: #4c721d;
}
.small_logo {
    display: block;
    float: right;
    margin-top: -15px;
    margin-bottom: 20px;
}
.continue, .back {
	display: block;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}
.continue {
    clear: both;
    text-align: center;
    color: #4c721d;
    font-size: 16px;
    margin-bottom: 30px;
}
a.continue:hover {
    color: #56004e;
}
a.continue:hover .round {
    background-color: #56004e; 
}
.round {
	border-radius: 100%;
	-moz-border-radius: 100%;
    -webkit-border-radius: 100%;
	color: white;
}
.continue .round {
  background-color: #4c721d;
  padding: 0px 5px 0px 6px;
  font-size: 16px;
}
.back {
	position: absolute;
	top: 25px;
	left: 25px;
	font-size: 13px;
	color: #56004e;
}
a.back:hover {
	color: #4c721d;
}
.back .round {
  background-color: #56004e;
  padding: 0px 4px 0px 3px;
  font-size: 13px;
}
.back:hover .round {
	background-color: #4c721d;
}
.tip {
	color: #56004e;
	font-weight: bold;
	font-size: 11px;
	margin: 15px 0 0 10px;
}
#full_info {
	display: block;
	height: 15px;
	text-decoration: none;
	width: 165px;
	color: #ffffff;
	padding: 5px 0;
	font-size: 12px;
	text-indent: 9px;
	margin: 10px;
	border-radius: 7px;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
	background: rgb(146,56,138); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(146,56,138,1) 0%, rgba(58,0,52,1) 100%, rgba(58,0,52,1) 100%, rgba(32,124,202,1) 100%, rgba(41,137,216,1) 100%, rgba(58,0,52,1) 100%, rgba(58,0,52,1) 100%, rgba(58,0,52,1) 101%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(146,56,138,1)), color-stop(100%,rgba(58,0,52,1)), color-stop(100%,rgba(58,0,52,1)), color-stop(100%,rgba(32,124,202,1)), color-stop(100%,rgba(41,137,216,1)), color-stop(100%,rgba(58,0,52,1)), color-stop(100%,rgba(58,0,52,1)), color-stop(101%,rgba(58,0,52,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(146,56,138,1) 0%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 100%,rgba(32,124,202,1) 100%,rgba(41,137,216,1) 100%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 101%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(146,56,138,1) 0%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 100%,rgba(32,124,202,1) 100%,rgba(41,137,216,1) 100%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 101%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(146,56,138,1) 0%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 100%,rgba(32,124,202,1) 100%,rgba(41,137,216,1) 100%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 101%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(146,56,138,1) 0%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 100%,rgba(32,124,202,1) 100%,rgba(41,137,216,1) 100%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 101%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92388a', endColorstr='#3a0034',GradientType=0 ); /* IE6-9 */
}
#full_info:hover {
	border: 1px solid #544e53;
	width: 163px;
	height: 14px;
	text-indent: 8px;
	padding-top: 4px;
}
#full_info:active {
	background: rgb(58,0,52); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(58,0,52,1) 0%, rgba(147,57,138,1) 100%, rgba(58,0,52,1) 100%, rgba(58,0,52,1) 100%, rgba(147,57,138,1) 100%, rgba(58,0,52,1) 100%, rgba(58,0,52,1) 100%, rgba(41,137,216,1) 100%, rgba(58,0,52,1) 100%, rgba(58,0,52,1) 100%, rgba(58,0,52,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(58,0,52,1)), color-stop(100%,rgba(147,57,138,1)), color-stop(100%,rgba(58,0,52,1)), color-stop(100%,rgba(58,0,52,1)), color-stop(100%,rgba(147,57,138,1)), color-stop(100%,rgba(58,0,52,1)), color-stop(100%,rgba(58,0,52,1)), color-stop(100%,rgba(41,137,216,1)), color-stop(100%,rgba(58,0,52,1)), color-stop(100%,rgba(58,0,52,1)), color-stop(100%,rgba(58,0,52,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(58,0,52,1) 0%,rgba(147,57,138,1) 100%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 100%,rgba(147,57,138,1) 100%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 100%,rgba(41,137,216,1) 100%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(58,0,52,1) 0%,rgba(147,57,138,1) 100%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 100%,rgba(147,57,138,1) 100%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 100%,rgba(41,137,216,1) 100%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(58,0,52,1) 0%,rgba(147,57,138,1) 100%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 100%,rgba(147,57,138,1) 100%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 100%,rgba(41,137,216,1) 100%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(58,0,52,1) 0%,rgba(147,57,138,1) 100%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 100%,rgba(147,57,138,1) 100%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 100%,rgba(41,137,216,1) 100%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 100%,rgba(58,0,52,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a0034', endColorstr='#3a0034',GradientType=0 ); /* IE6-9 */
	border: 2px solid #544e53;
	width: 161px;
	height: 13px;
	text-indent: 7px;
	padding-top: 3px;
}
.additional_info {
	position: absolute;
	bottom: 13px;
	right: 20px;
	list-style: none;
}
ul.additional_info li {
	display: inline-block;
	margin-left: 20px;
	font-size: 11px;
	font-weight: bold;
	color: #56004e;
}
ul.additional_info li a {
	color: #56004e;
	text-decoration: none;
}
ul.additional_info a:hover {
	color: #4c721d;
}
ul.additional_info a:active {
	color: #d6e03e;
}
#right_column {
	position: absolute;
	width: 270px;
	right: 10px;
	background-color: #f7f8d9;
	height: 640px;
	box-shadow: -10px 0px 50px 0px #d1d1d1;
}
#info {
	height: 600px;
	overflow: auto;
}
#info p {
	margin: 0 5px 20px 16px;
	line-height: 18px;
}
#footer {
	position: absolute;
	left: 11px;
	bottom: 10px;
}
#info .small_logo {
	margin-top: 15px;
}
#for_ipad {
	color: #56004e;
	margin-top: 10px;
	text-align: right;
	margin-right: 10px;
}
#questions .additional_info {
	right: 300px;
}
.first_message, .second_message, .third_message, .fourth_message, .fifth_message {
	position: absolute;
	color: #56004e;
}
.first_message {
	top: 150px;
	font-size: 31px;
	right: 360px;
	white-space: nowrap;
}
.second_message {
	top: 190px;
	font-size: 47px;
	font-weight: bold;
	left: 30px;
	white-space: nowrap;
}
.third_message {
	top: 275px;
	color: #000000;
	width: 470px;
	left: 35px;
	opacity: 1;
}
.first_part, #slide_2 .transitive-2 {
	opacity: 0;
}
#slide_2 .transitive-0 {
	right: 100%;
}
#slide_2 .transitive-1 {
	left: 100%;
}
#slide_2 .transitive-3 {
	opacity: 1;
}
.fourth_message {
	color: #56004e;
	font-size: 14px;
	width: 510px;
	top: 170px;
	left: 30px;
	opacity: 1;
}
h3 {
	font-size: 26px;
	font-family: Arial;
	margin: 0 0 3px 0;
}
#slide_2 .transitive-4, #slide_2 .transitive-5 {
	opacity: 0;
}
.fifth_message {
	color: #000000;
	left: 30px;
	top: 270px;
	width: 475px;
	opacity: 1;
}
.footnote {
	display: block;
	margin-top: 18px;
}
.fifth_message .continue {
	text-align: left;
	margin-top: 40px;
}
.first_part.transitive {
	-webkit-transition-delay: 2s;
    -moz-transition-delay: 2s;
    -o-transition-delay: 2s;
    transition-delay: 2s;
}
#slide_2 {
	display: none;
}
.head_message, .full_length, .medium_length, .short_length {
	position: absolute;
	color: #56004e;
	text-align: center;
	opacity: 1;
}
.head_message {
	font-size: 23px;
	top: 125px;
	width: 500px;
	font-weight: bold;
	left: 60px;
}
.process_length {
	position: absolute;
	top: 220px;
	left: 80px;
	width: 460px;
}
.full_length, .medium_length, .short_length {
	display: block;
	width: 135px;
	height: 49px;
	padding-top: 145px;
	font-size: 16px;
	text-decoration: none;
}
.full_length {
	background: url("images/full_length.jpg") no-repeat;
	left: 0px;
}
.medium_length {
	background: url("images/medium_length.jpg") no-repeat;
	left: 163px;
}
.short_length {
	background: url("images/short_length.jpg") no-repeat;
	right: 0px;
}
h4 {
	font-size: 22px;
	margin: 0;
}
.full_length:hover {
	background: url("images/full_length_hover.jpg") no-repeat;
	color: #ffffff;
}
.medium_length:hover {
	background: url("images/medium_length_hover.jpg") no-repeat;
	color: #ffffff;
}
.short_length:hover {
	background: url("images/short_length_hover.jpg") no-repeat;
	color: #ffffff;
}
.full_length:active, .medium_length:active, .short_length:active {
	color: #d5e13c;
}
.pointers {
	position: absolute;
	left: 75px;
	top: 445px;
	width: 470px;
	opacity: 1;
}
.line {
	background-color: #56004e;
	color: #ffffff;
	position: absolute;
	width: 430px;
	padding: 3px;
	font-size: 17px;
	left: 17px;
	top: 5px;
}
.left_side {
	display: inline-block;
	float: right;
}
.left_pointer, .right_pointer {
	width: 0;
	height: 0;
	border-style: solid;
	position: absolute;
}
.left_pointer {
	border-width: 18.5px 17px 18.5px 0;
	border-color: transparent #56004e transparent transparent;
}
.right_pointer {
	border-width: 18.5px 0 18.5px 17px;
	border-color: transparent transparent transparent #56004e;
	right: 0px;
}
#slide_3 .transitive-0, #slide_3 .transitive-1, #slide_3 .transitive-2, #slide_3 .transitive-3, #slide_3 .transitive-4 {
	opacity: 0;
}
